<header style="display: flex; align-items: center;">
    <a href="/">
        <img src="/images/vortex-transparent.png" alt="Vortex Icon" width="64" height="64" style="margin-right: 10px;">
    </a>
    <h1>Vortex Community</h1>
</header>
