<header>
  <div class="header-logo">
    <div class="cog-container">
      <canvas class="cog-canvas" data-logo="1"></canvas>
      <img src="<%= basePath %>/images/cog.svg" class="cog-svg" alt="">
    </div>
    <a href="<%= basePath %>/" class="header-title">Vortex Community</a>
  </div>
</header>
