<div class="lightshow-container">
    <canvas id="lightshowCanvas_<%= typeof tempId !== 'undefined' ? tempId : pat._id %>" class="lightshow-canvas" data-pat='<%= JSON.stringify(pat.data) %>'></canvas>
</div>
