<div class="lightshow-container">
    <canvas id="lightshowCanvas_<%= typeof tempId !== 'undefined' ? tempId : mode._id %>" class="lightshow-canvas" data-mode='<%= JSON.stringify(mode.modeData) %>'></canvas>
</div>
