<a href="/mode/<%= mode._id %>" class="mode-tile">
  <div class="device-icon <%= mode.deviceType.toLowerCase() %>"></div>
  <div class="mode-content">
    <h3><%= mode.name %></h3>
    <p><%= mode.description %></p>
  </div>
</a>
