<div class="mode-tile-preview-led-container">
    <canvas id="modePreviewLightshowCanvas_<%= typeof tempId !== 'undefined' ? tempId : pat._id %>_<%= mode._id %>" class="lightshow-canvas" data-pat='<%= JSON.stringify(pat.data ? pat.data : pat) %>' data-type="flashing"></canvas>
</div>
