<a href="/modes/<%= mode.id %>" class="mode-item">
    <div class="mode-content">
        <h2 class="mode-title"><%= mode.name %></h2>
        <p class="mode-blurb"><%= mode.description %></p>
    </div>
    <div class="led-strip-container">
        <%- include('lightshow', { mode: mode }) %>
    </div>
</a>

