<div class="mode-tile">
  <div class="device-icon <%= deviceType.toLowerCase() %>"></div>
  <div class="mode-content">
    <h3><%= modeName %></h3>
    <p><%= modeDescription %></p>
    <!-- Other mode details can go here -->
  </div>
</div>
