<a href="/pat/<%= pat.id %>" class="pat-item">
    <div class="pat-content">
        <h2 class="pat-title"><%= pat.name %></h2>
        <p class="pat-blurb"><%= pat.description %></p>
    </div>
    <div class="led-strip-container">
        <%- include('lightshow', { pat: pat }) %>
    </div>
</a>

