<div class="pat-tile-submission <%= isDuplicate ? 'locked' : '' %>">
    <div class="pat-tile-submission-content">
        <input type="hidden" name="patIds[]" value="<%= tempId %>" <%= isDuplicate ? 'disabled' : '' %> />
    </div>
    <div class="submission-led-strip-container">
        <!-- Lightshow visualization -->
        <%- include('submission-lightshow', { pat: pat, tempId: tempId }) %>
    </div>
</div>

