<div class="submission-preview-led-strip-container">
    <canvas id="ledLightshowCanvas_<%= typeof tempId !== 'undefined' ? tempId : pat._id %>" class="lightshow-canvas" data-pat='<%= JSON.stringify(pat.data ? pat.data : pat) %>' data-type="flashing"></canvas>
</div>
