header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    max-width: 1460px;
    margin: 0 auto;
}

header img {
    margin-right: 10px;
    transition: width 0.3s, height 0.3s;
}

header h1 {
    font-size: 24px;
    margin: 0;
    transition: font-size 0.3s;
    flex-grow: 1;
    text-align: left;
}

