header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Adjust this based on your layout needs */
    padding: 10px;
    max-width: 1200px; /* Adjust based on your layout */
    margin: 0 0; /* Center the header */
    background-color: #121212; /* Add background color if needed */
}

header img {
    margin-right: 10px;
    width: 64px; /* Ensure consistent size */
    height: 64px;
}

header h1 {
    font-size: 24px;
    margin: 0;
    color: #FFF; /* Ensure title text color is white */
}

