.downloads-section {
    margin: 20px auto;
    max-width: 1400px;
}

.downloads-section h2 {
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
}

.download-category {
    background-color: #282828;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.download-category-title {
    color: #f1c40f;
    margin-bottom: 10px;
}

.download-item {
    padding: 10px 0;
    border-bottom: 1px solid #888;
    color: #FFF;
}

.download-item:last-child {
    border-bottom: none;
}

.download-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.download-info {
    font-size: 14px;
    color: #aaa;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover, .download-button:focus {
    background-color: #0056b3;
    color: #ffffff;
}

.download-button-disabled {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #aaaaaa;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button-disabled:hover, .download-button-disabled:focus {
    background-color: #6c757d;
    color: #ffffff;
}

.button-container {
    text-align: center;
}

