.editor-section {
    background-color: #333;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 1400px;
}

.editor-section h2 {
    color: #f1c40f;
}

.editor-screenshot, .firmware-screenshot {
    width: auto;
    height: 350px;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.device-section {
    background-color: #282828;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1300px;
}

.device-image {
    width: auto;
    max-height: 300px;
    padding: 10px;
    margin-bottom: 15px;
}

