/* pats.css */

/* the full list of patterns */
.pat-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

/* just a preview showcase */
.pat-showcase {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    max-height: calc(2 * (120px + 30px));
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

