.search-bar {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-input {
    width: 50%;
    max-width: 300px;
    margin-bottom: 10px;
}

