/* download-items.css */

.download-list {
    margin: 20px 0;
}

.download-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 5px;
    background-color: #222;
    color: #FFF;
}

.download-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.download-info {
    font-size: 14px;
    color: #aaa;
}

.download-link {
    color: #1abc9c;
    text-decoration: none;
}

.download-link:hover {
    text-decoration: underline;
}

