/* pat-tile.css */

.pat-tile {
    border: 1px solid #888;
    padding: 10px;
    margin: 10px;
    background-color: #222;
    border-radius: 5px;
    color: #FFF;
    transition: background-color 0.3s;
    transition: transform 0.2s; /* Add a little animation for hover effect */
}

.pat-tile.duplicate {
    background-color: #555;
}

.pat-tile.new {
    background-color: #1abc9c;
}

